.add-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;

  // @media (min-width: 768px) {


  // }
}

.add-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-left: 20px;
  margin-bottom: 34px;

  @media (min-width: 768px) {
    margin-left: 69px;
    margin-bottom: 0;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
  }
}

.add-form__list {
  list-style-type: none;
  margin: 0;
  padding: 0;

  @media (min-width: 768px) {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    margin-top: 57px;
    grid-row-gap: 42px;
    margin-left: 69px;
    margin-right: 69px;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
    margin-right: 110px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
  }
}

.add-form__item {
  display: flex;
  position: relative;
  margin-top: 12px;

  @media (min-width: 768px) {
    margin-top: 0;
  }
}

.add-form__item:first-of-type {
  margin-top: 0;
}

.add-form__label {
  display: flex;
}

.add-form__input {
  position: absolute;
  opacity: 0;
  z-index: -1;
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 0;
  }
}

.add-form__input-mark {
  width: 30px;
  height: 30px;
  margin-left: 20px;
  border: 1px solid #cdcdcd;
  background-color: #ffffff;

  @media (min-width: 768px) {
    width: 40px;
    height: 40px;
    margin-left: 0;
  }
}

.add-form__input + .add-form__label::before {
  position: absolute;
  content: "";
  top: 0;
  left: 10px;
}

.add-form__input:checked + .add-form__label::after {
  display: inline-block;
  position: absolute;
  content: "";
  width: 18px;
  height: 14px;
  background-image: url("../../img/decor/checked.svg");
  background-color: #ffffff;
  top: 10px;
  left: 19px;
  z-index: 5;
}

.add-form__input-text {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #000000;
  margin-left: 16px;
  margin-top: 6px;
  margin-bottom: 6px;

  @media (min-width: 768px) {
    margin-left: 19px;
    font-size: 20px;
    line-height: 30px;
  }
}
