.comment-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.comment-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 69px;
    font-size: 36px;
    line-height: 36px;
  }
}

.comment-form__textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  width: 100%;
  margin-top: 38px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 23px;
  min-height: 150px;
  padding-top: 10px;
  padding-left: 15px;
  padding-right: 12px;
}
