.comment-form {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
}

.comment-form__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: #000000;
  margin: 0;
  margin-left: 20px;

  @media (min-width: 768px) {
    margin-left: 69px;
    font-size: 36px;
    line-height: 36px;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
  }
}

.comment-form__textarea {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  // width: 100%;
  min-width: fit-content;
  margin-top: 38px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 23px;
  min-height: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 15px;
  padding-right: 12px;
  border: 1px solid #e7e7e7;
  // box-sizing: border-box;
  display: flex;

  @media (min-width: 768px) {
    // box-sizing: border-box;
    margin-left: 69px;
    margin-right: 69px;
    margin-top: 76px;
    margin-bottom: 65px;
    font-size: 20px;
    line-height: 30px;
    padding-left: 19px;
    padding-right: 19px;
    // min-width: fit-content;
  }

  @media (min-width: 1440px) {
    margin-left: 110px;
    margin-right: 110px;
    margin-bottom: 92px;
    padding-left: 19px;
    padding-right: 19px;
    // min-width: fit-content;
  }
}
