.copyright {
  margin: 0;
  padding: 0;
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background-color: #f2f2f2;
}

.copyright__link {
  display: flex;
  flex-wrap: wrap;
  text-align: justify;
  justify-content: space-between;
  text-decoration: none;
  padding: 0;
  margin: 22px 0;
}

.copyright__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  color: #444444;
  text-decoration: none;
}

// .copyright__logo {

// }
