.form-request {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.form-request__fieldest {
  margin: 0;
  padding: 0;
}

.form-request__button {
  border: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 280px;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 0;
  padding: 7px 20px;
}

// .form-request__wrapper {

// }

.form-request__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 21px 20px 32px 20px;
}
