.form-request {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  background-color: #ffffff;
}

.form-request__fieldest {
  margin: 0;
  padding: 0;
}

.form-request__container {
  @media (min-width: 1440px) {
    margin-top: 66px;
    margin-bottom: 69px;
    margin-left: 110px;
    margin-right: 110px;
    display: grid;
    grid-column-gap: 80px;
    grid-template-columns: repeat(2, 1fr);
  }
}

.form-request__button {
  border: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  min-width: 280px;
  margin: auto;
  margin-top: 34px;
  margin-bottom: 0;
  padding: 7px 20px;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 26px;
    margin: 0;
    margin-top: 59px;
    margin-bottom: 72px;
    padding: 13px 46px;
  }

  @media (min-width: 1440px) {
    margin: 0;
    margin-top: 61px;
    margin-bottom: 82px;
    padding: 13px 188px;
  }
}

.form-request__wrapper {
  @media (min-width: 768px) {
    display: flex;
    margin-left: 69px;
  }

  @media (min-width: 1440px) {
    display: flex;
    margin-left: 110px;
  }
}

.form-request__text {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #000000;
  margin: 21px 20px 32px 20px;

  @media (min-width: 768px) {
    font-size: 16px;
    margin: auto;
    margin-left: 61px;
    margin-right: 69px;
  }

  @media (min-width: 1440px) {
    font-size: 16px;
    margin-top: 78px;
    margin-left: 81px;
    margin-right: 110px;
  }
}
