.gain {
  background-color: #f2f2f2;
  margin: 20px;
  width: auto;
}

.gain__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
  display: flex;
}

// @media (min-width: $tablet-width) {
//   padding-left: 53px;
//   padding-top: 77px;
// }

.gain__title::before {
  content: "";
  background-image: url("../img/decor/cat-weigths.svg");
  background-repeat: no-repeat;
  width: 67px;
  height: 50px;
  display: block;
}

.gain__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}

.gain__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
  display: flex;
}

.gain__link::after {
  content: "";
  background-image: url("../img/decor/arrow-right.svg");
  background-repeat: no-repeat;
  width: 24px;
  height: 12px;
  display: block;
}
