// .gift {

// }

.gift__wrapper {
  background-image: url("../img/decor/gift-background.png");
  margin: 35px 20px;
  background-color: rgba(104, 183, 56, 0.85);
  height: 280px;
  background-repeat: no-repeat;

  @media (min-width: 768px) {
    height: 200px;
    margin: 76px 30px;
  }
}

.gift__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  align-items: center;
  text-align: center;
  color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  @media (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    padding-right: 124px;
  }
}

.gift__desc::before {
  content: "";
  width: 78px;
  height: 80px;
  background-image: url("../../img/decor/gift-icon.svg");
  margin: auto;
  margin-top: 59px;
  margin-bottom: 48px;
  display: flex;
  flex-wrap: wrap;
  background-repeat: no-repeat;
}

// .gift__desc-break {

// }
