.history {
  background-color: #eaeaea;
  text-align: left;
}

// .history__wrapper {

// }

.history__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: #000000;
}

// .history__text-container {

// }

.history__desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
}

// .history__list-wrapper {

// }

// .history__list {

// }

// .history__item {

// }

.history__item-number {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
  color: #000000;
}

.history__item-desc {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #444444;
}

.history__spending {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  color: #000000;
}

// .history__widget {

// }

// .history__picture-wrapper {

// }

// .history__widget-wrapper {

// }

// .history__image-before {

// }

// .history__image-after {

// }

// .history__input {

// }
