.motivation {
  display: flex;
  background-color: #ffffff;
  font-family: "Oswald", sans-serif;
}

.motivation__header {
  background-image: linear-gradient(to top, rgba(104, 183, 56, 0.85), rgba(104, 183, 56, 0.85)), url("../../img/decor/motivation-background.png");
  background-repeat: no-repeat;
  min-height: 302px;

  @media (min-width: 768px) {
    background: #ffffff;
    background-image: none;
    color: #000000;
    text-align: left;
    max-width: 414px;
    margin-left: 117px;
    min-height: auto;
  }
}

.motivation__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 36px;
  text-align: center;
  color: #ffffff;
  margin: 0;
  padding-top: 27px;
  padding-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 60px;
    line-height: 60px;
    color: #000000;
  }
}

.motivation__intro {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  color: #ffffff;
  text-align: center;
  margin: 0;

  @media (min-width: 768px) {
    font-size: 20px;
    line-height: 20px;
    color: #000000;
  }
}

.motivation__image {
  margin-top: 29px;
  background-color: #ffffff;

  @media (min-width: 768px) {
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    margin-top: 20px;
  }
}

@media (min-width: 1440px) {
  .motivation__image {
    margin-top: 42px;
  }
}

.motivation__button {
  background-color: #68b738;
  height: 40px;
  width: 280px;
  border-radius: 0;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin: 3px 20px 20px 20px;

  @media (min-width: 768px) {
    height: 54px;
    width: 244px;
    font-size: 20px;
    margin-top: 29px;
    margin-left: 91px;
  }

  @media (min-width: 1440px) {
    margin-top: 52px;
    margin-left: 190px;
  }
}
