.page__body {
  font-family: "Oswald", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  background-color: #ffffff;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
