
.page-header {
  display: flex;
  flex-direction: column;
  background-color: #ffffff;
}

.page-header__logo {
  text-decoration: none;
}

@media (min-width: $tablet-width) {
  .page-header__logo {
    order: 2;
    height: 52px;
    display: block;
  }
}

@media (min-width: $desktop-width) {
  .page-header__logo {
    order: 2;
    height: 59px;
    display: block;
  }
}

.page-header__logo-image {
  height: 38px;
}

.page-header__logo-text {
  height: 18px;
}
