.product {
  background-color: #ffffff;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
}

.product__article {
  border-bottom: 1px solid #ebebeb;
}

.product__wrapper {
  margin-left: 20px;
  margin-right: 20px;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

.product__img {
  display: block;
}

.product__list {
  width: 50%;
  margin-top: 19px;
  margin-bottom: 22px;
}

.product__title {
  font-size: 16px;
  line-height: 20px;
  color: #222222;
  max-width: 76px;
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.product__desc {
  font-family: "Arial", sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  flex-wrap: wrap;
  justify-content: space-between;
  color: #444444;
  margin: 0;
  margin-top: 14px;

  @media (min-width: 768px) {
    font-size: 16px;
    line-height: 16px;
    padding-top: 7px;
    padding-bottom: 9px;
    border-bottom: 1px solid #cdcdcd;
  }
}

.product__desc-container {
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.product__item {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: left;
  color: #444444;
}

.product__value {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 16px;
  text-align: right;
  color: #444444;
}

.product__button {
  background-color: #68b738;
  border-radius: 0;
  text-decoration: none;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 25px;
  padding: 10px 109px;
}
