.search-form {
  display: flex;
  flex-direction: column;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  border: 0;
  margin: 0 20px;
  margin-bottom: 24px;
}

.search-form__item {
  display: flex;
  margin-top: 14px;
  justify-content: space-between;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.search-form__item:first-of-type {
  margin-top: 0;
}

.search-form__label {
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: #444444;
  padding-top: 14px;
  padding-bottom: 14px;
  min-width: fit-content;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.search-form__text {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  padding-right: 16px;
  margin-left: 12px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}

.search-form__number {
  font-size: 16px;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-transform: uppercase;
  color: #444444;
  border: 1px solid #e7e7e7;
  padding-top: 14px;
  padding-bottom: 14px;
  padding-left: 16px;
  margin-left: 12px;
  width: 100%;
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
}
