.site-list {
  list-style: none;
  padding: 0;
  margin: 0;
  text-decoration: none;
  text-align: center;
  display: flex;
  flex-direction: column;
}

@media (min-width: 768px) {
  .site-list {
    width: 440px;
  }
}

@media (min-width: 1440px) {
  .site-list {
    width: 478px;
  }
}

.site-list__item {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-decoration: none;
  border-top: 1px solid #e6e6e6;
  padding-top: 22px;
  padding-bottom: 24px;
  text-transform: uppercase;
  text-align: center;
  // margin-top: 22px;
  // margin-bottom: 24px;
}

@media (min-width: 768px) {
  .site-list__item {
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
    text-transform: uppercase;
    color: #000000;
  }
}

@media (min-width: 1440px) {
  .site-list__item {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 30px;
    text-transform: uppercase;
    color: #ffffff;
  }
}

.site-list__link {
  color: inherit;
  text-transform: uppercase;
  text-decoration: none;

  &:hover {
    opacity: 0.6;
  }

  &::after {
    opacity: 0.3;
  }
}

