.slim {
  background-color: #f2f2f2;
  margin: 20px;
  width: auto;
}

.slim__title {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  color: #000000;
  text-transform: uppercase;
}

.slim__title::before {
  content: "";
  background-image: url("../../img/decor/cat-slim.png");
  background-repeat: no-repeat;
  width: 50px;
  height: 53px;
}

.slim__description {
  font-family: "Arial", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #444444;
  text-align: left;
}

.slim__link {
  font-family: "Oswald", sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  color: #000000;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}
