.social {
  margin: 0;
  margin-top: 39px;
  padding: 0;
  display: flex;
  justify-content: center;
}

.social__list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  padding: 0;
}

// .social__item {

// }

// .social__link {
//   .social__link--vk {

//   }
//   .social__link--youtube {

//   }
//   .social__link--telegram {

//   }
// }

// .social__icon-vk {

// }

.social__icon-youtube {

}

.social__icon-telegram {

}
